<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/coronavirus.png" width="10%" style="margin: 5% 0% 5% 5%;" slot="start" (click)="goWorldInformation()">
    <ion-title style="font-size:larger;font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;text-transform: uppercase; ">
     {{paisSelect}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <ion-list style="margin: 1.5%;">
    <ion-item>
      <img src="assets/flag.png" width="9%" style="float: left;margin-right: 3%;">
      <ion-label style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Selecciona un país...</ion-label>
      <ion-select okText="Okay" cancelText="Canel" [(ngModel)]="paisSelect" (ionChange)="onSelectChange()">
        <ion-select-option *ngFor="let cD of countriesData" value={{cD.Country}}>{{cD.Country}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let c of countryData" style="margin-right: 4.5%;" (click)="goCountryDateDetail(c)">
      <ion-label>
        <img src="assets/calendar.png" width="10%" style="float: left;margin: 3% 4%;">
        <h2 style="font-size: large;font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{formatDate(c.Date)}}</h2>
        <h3 style="font-size: small;font-family:Verdana, Geneva, Tahoma, sans-serif; ">{{c.Country}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
